deployments/n8n/workflows/register user.json
{
  "name": "register user",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/register",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bac86785-8162-4ddc-8ace-40b5b0f5f0e0",
      "name": "Webhook",
      "webhookId": "4be1485c-80f3-45d4-a986-3f87e0f04d2d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/auth/register",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.email }}\",\n  \"password\": \"{{ $json.body.password }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "ac50efb7-1821-4a86-949b-c57fcc98b4e0",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        0
      ],
      "id": "e083c638-9711-4973-902c-30375359cc16",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9c56b6c8-116a-4f13-891e-4ed9bad938ca",
  "meta": {
    "instanceId": "03251c6b7875e8a5b3ea1e548e4283b68b347195015126414d700152b378e00d"
  },
  "id": "rew7zzD8FQ1X5gfw",
  "tags": []
}
